/* Основной цвет текста    color: #212121;*/
/* Цвет лого   color: #2196F3; */
/* Цвет ссылок   color: #757575; */

:root{
--main-text-color: #2196F3;
--white: #ffffff;
--grey: #757575;
--almoust-black: #212121;
}
body{
    background: var(--white);
    color: var(--almoust-black);
    font-family: 'Roboto', sans-serif;
}
.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero-button {
    background-color: var(--main-text-color);
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--white);
    margin: 0 auto;
    display: block;
}
.hero-button:hover{
        background: #188CE8;
}

.benefits{
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.benefits-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: var(--grey);
}
.caption{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--almoust-black);
}
.work-out{
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.team{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
}
.name{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        color: var(--almoust-black);
}
.occupation{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        letter-spacing: 0.03em;
        color: var(--grey);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* Заголовок */
.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.black-part-logo{
    color: var(--almoust-black);
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--almoust-black);
}
.site-nav:hover{
    color: var(--main-text-color);
}
.site-nav:focus{
    color: var(--main-text-color);
}
.contacts{
color: rgba(255, 255, 255, 0.6);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
}
.cont-head{
    color: var(--grey)
}
.mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.6);
}

.mail-link:hover{
color: var(--main-text-color);
}
.mail-link:focus{
    color: var(--main-text-color);
}
.mail:hover{
    color: var(--main-text-color);
}
.mail:focus{
    color: var(--main-text-color);
}
.phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.6);
}
.phone:hover{
    color: var(--main-text-color);
}
.phone:focus{
    color: var(--main-text-color);
}
.phone-link:hover{
    color: var(--main-text-color);
}
.phone-link:focus{
    color: var(--main-text-color);
}
/* Головний контент */
.button-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--almoust-black);
    cursor: pointer;
    letter-spacing: 0.03em;
}
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--almoust-black);
}
.cursor{
    cursor:pointer;
}
.button:hover{
    background-color: var(--main-text-color);
}
.button:focus{
    color: var(--main-text-color);
}
.button-text:hover{
    color:  var(--main-text-color);
}
.button-text:focus{
    color: var(--main-text-color);
}

.name-of-prod{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--almoust-black);
}
.description-tech{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
        color: var(--grey);
}

.link-prod{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--grey);
}
.link:hover{
    color: var(--main-text-color);
}
.link:focus{
    color: var(--main-text-color);
}

/* Футер */
.footer{
    background: #2F303A;
}
.white-part-logo{
    color: var(--white);
}
.street{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--white);
    font-style: normal;
}