/* Основной цвет текста    color: #212121;*/
/* Цвет лого   color: #2196F3; */
/* Цвет ссылок   color: #757575; */


body{
    background: #ffffff;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* Заголовок */
.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.black-part-logo{
    color: #212121;
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.site-nav:hover{
    color: #2196F3;
}
.site-nav:focus{
    color: #2196F3;
}
.mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-link:hover{
color: #2196F3;
}
.mail-link:focus{
    color: #2196F3;
}
.mail:hover{
    color: #2196F3;
}
.mail:focus{
    color: #2196F3;
}
.phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.phone:hover{
    color: #2196F3;
}
.phone:focus{
    color: #2196F3;
}
.phone-link:hover{
    color: #2196F3;
}
.phone-link:focus{
    color: #2196F3;
}
/* Головний контент */
.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.cursor{
    cursor:pointer;
}
.button:hover{
    background-color: #2196F3;
}
.button:focus{
    color: #2196F3;
}
.button-text:hover{
    color:  #2196F3;;
}
.button-text:focus{
    color: #2196F3;
}

.name-of-prod{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.link-prod{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.link:hover{
    color: #2196F3;
}
.link:focus{
    color: #2196F3;
}

/* Футер */
.footer{
    background: #2F303A;
}
.white-part-logo{
    color: #000000;
}
.street{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
}